@inherits LayoutComponentBase

<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="page-layout">
    <header class="zoom-control-header">
        <div class="header-content">
            <ZoomControl />
            <MudTooltip Text="">
                <MudIconButton Icon="@Icons.Material.Filled.LightMode" 
                    Color="Color.Primary" />
            </MudTooltip>
        </div>
    </header>
    
    <main class="page-content">
        <ZoomContainer>
            @Body
        </ZoomContainer>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
