@page "/"

<PageTitle>Home</PageTitle>

<MudStack>
    <MudTextField T="string" 
    @bind-Value="OriginalSql" 
       Label="Original SQL" 
  Variant="Variant.Outlined"
     Lines="10" />
    <MudPaper Class="pa-4" Elevation="2">
 <pre>@this.formattedSql</pre>
  </MudPaper>
</MudStack>
<MudAvatar>TSP</MudAvatar>
<MudAvatar>Glen</MudAvatar>
<MudAvatar>Wilkin</MudAvatar>
<br />
<MudChip T="string">TSP</MudChip>
<MudChip T="string">Glen</MudChip>
<MudChip T="string">Wilkin</MudChip>
<div style="background-color: black; padding: 20px;">
    <MudSlider T="double"
   Min="0"
       Max="100"
     Step="1"
     Value="50"
    Color="Color.Primary"
    Class="zoom-slider" />
</div>

<style>
    /* White MudSlider styling - complete override */
    
 /* The main track line */
    .zoom-slider .mud-slider-track {
      background-color: rgba(255, 255, 255, 0.5) !important;
    }
    
    /* The track before the thumb (inactive portion) */
    .zoom-slider .mud-slider-track::before {
        background-color: rgba(255, 255, 255, 0.5) !important;
    }
    
    /* The track after the thumb (filled/active portion) */
    .zoom-slider .mud-slider-track::after,
    .zoom-slider .mud-slider-filled {
        background-color: white !important;
    }
    
    /* The draggable thumb/handle */
    .zoom-slider .mud-slider-thumb {
        background-color: white !important;
    border-color: white !important;
    }
    
    /* Thumb container */
    .zoom-slider .mud-slider-thumb-container {
        color: white !important;
    }
    
    /* Active track */
    .zoom-slider .mud-slider-track-active {
        background-color: white !important;
 }
    
    /* Horizontal and vertical track overrides */
    .zoom-slider.mud-slider-horizontal .mud-slider-track,
 .zoom-slider.mud-slider-vertical .mud-slider-track {
        background-color: rgba(255, 255, 255, 0.5) !important;
    }
    
    /* Native HTML range input styling (fallback) */
    .zoom-slider input[type="range"] {
        background: transparent !important;
    }
    
    .zoom-slider input[type="range"]::-webkit-slider-runnable-track {
        background-color: rgba(255, 255, 255, 0.5) !important;
        border: none !important;
    }
    
    .zoom-slider input[type="range"]::-moz-range-track {
        background-color: rgba(255, 255, 255, 0.5) !important;
        border: none !important;
    }
    
    .zoom-slider input[type="range"]::-webkit-slider-thumb {
    background-color: white !important;
        border: 2px solid white !important;
    }

    .zoom-slider input[type="range"]::-moz-range-thumb {
      background-color: white !important;
        border: 2px solid white !important;
    }
    
    /* Override any MudBlazor theme colors */
    .zoom-slider * {
   --mud-palette-primary: white !important;
    }
</style>
