.zoom-control {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    user-select: none;
    /* Background color is set via inline style in the component */
}

.zoom-control .zoom-slider {
    width: 8rem;
    margin: 0;
}

/* Make slider white/light in dark mode */
::deep .zoom-slider .mud-slider-track,
::deep .zoom-slider .mud-slider-thumb {
    background-color: white !important;
}

::deep .zoom-slider .mud-slider-track::before {
    background-color: rgba(255, 255, 255, 0.3) !important;
}

/* Control thumb size explicitly */
::deep .zoom-slider .mud-slider-thumb {
    width: 2px !important;
    height: 2px !important;
}

/* Control native range input thumb size */
::deep .zoom-slider input[type="range"]::-webkit-slider-thumb {
    width: 2px !important;
    height: 2px !important;
    background-color: white !important;
}

::deep .zoom-slider input[type="range"]::-moz-range-thumb {
    width: 2px !important;
    height: 2px !important;
    background-color: white !important;
}
